body {
	font-family: 'Roboto Mono', monospace;
	margin: 0px;
	color: #fff;
  height: 100%;

}
#container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
}
#info {
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background: rgba(0,0,0,0);
    color: #1c1c1c;
    padding: 8px 14px;
    border-radius: 6px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: large;
    pointer-events: auto;
}